[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "res/Sponza"]
	path = res/Sponza
	url = https://github.com/jimmiebergmann/Sponza.git
